
.navbar {
    border-bottom: 2px solid #ededed;
    padding-bottom: 0;
    padding-top: 0;
    background-color: white;
}

.navbar-header {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 5px;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 0px 15px;
    font-size: 15px;
} 

.nav-item:first-child {
    border-right: 1px solid #ededed;
}

.nav-item:last-child {
    border-left: 1px solid #ededed;
}

.navbar-right {
    min-width: 250px;
}
a:link {
    text-decoration: none;
    color: #777777;
}

a:visited {
    color: #777777;
}

.aboutBox {
    max-width: 800px;
    margin: 30px auto;
}
#selfie {
    float: left;
    margin-right: 30px;
}

.footer-copyright {
    height: 60px;
    color: #777777;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%
}

#copyright {
    line-height: 45px;
}
body {
    background-image: url("dust_scratches.png");
}

#submitButton {
    background-color: #4aaaa5;
    border-color: #ededed;
}

#placeholderText { 
    width: 100%;
    max-width: 300px;
    height: 50px;
    line-height: 200%;
    position: relative;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    bottom: 60px;
    float: left;
}

/* #portfolioBox {
    height: fit-content;
    margin-bottom: 30px;
} */